body {
    background-color: #f6f6f6;
    font-family: sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    line-height: 1.4;
    margin: 0;
    padding: 0;
  }
.container {
    width: 36%;
    border: 1px solid #000;
    margin: 0 auto;
    background-color: black;
}
.inner-container{
    margin: 0 1.5rem;
}

.centered-div {
    width: 300px;
    margin: 0 auto;
}
.heading{
    color: white;
    font-size: 2.7rem;
    text-align: center;
}

.line{
    border: 1px solid white;
}
.body{
    margin-top: 1.5rem;
}
.data{
    color: white;
}
.note{
    color: white;
    text-align: center;
}
.box{
    height: 8rem;
    border: 1px solid white;
}
.box1{
    margin: 0 auto;
    width: 80%;
    text-align: center;
    background-color: #f6f6f6;
    border: 1px solid #f6f6f6;

}
.inner-box1{
    padding: .8rem 0;
}
.box1-credit{
    color: #000;
    font-size: 1.3rem;
    text-align: center;
}
.box1-note{
    margin-top: 0;
    text-align: center;
    color: #000;
    font-size: .8rem;
}

.box2{
    margin: 0 auto;
    width: 80%;
    background-color:#000;
    border: 1px solid #f6f6f6;
}
.inner1-box2{
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
}
.inner2-box2{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px 13px 20px;
}
.box2-details{
    color: #f6f6f6;
    font-size: .8rem;
}


